@charset "UTF-8";
body {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";

		background-color: #f9e1c4 ;
		color: #461e0f;
		margin: 0; 
			
			}
		h1 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: bold;
  			font-style: normal;
			font-size: 65px;
			color: #8C442A;
			padding-left: 20%;
			padding-right: 20%;
			text-align: left;
			line-height: 1.1;
			
			}


		h3 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: bold;
  			font-style: normal;
			font-size: 30px;
			color: #024059;
			padding-left: 20%;
			padding-right: 20%;
			}

		h4 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
			font-size: 20px;
			color: #461e0f;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 28px;
			padding-top: 1%; 
			
			}
	h2 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
  			font-style: normal;
			font-size: 20px;
			color: #646C8F;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 28px;
			padding-top: 1%;
		}
		
		h5 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
  			font-style: normal;
			font-size: 20px;
			color: #461e0f;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 28px;
			
			}
		h6 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
			font-size: 25px;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 30px;
			padding-top: 1%; 
			color: #8C442A;
			font-style: italic;
			
			}
h7 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
			font-size: 20px;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 25px;
			padding-top: 1%; 
			color: #8C442A;
			font-style: normal;
			
			}

h9 {
			font-family: "Playfair Display", system-ui;
  			font-optical-sizing: auto;
  			font-weight: 500;
			text-decoration: underline;
			font-size: 20px;
			color: #461e0f;
			padding-left: 20%;
			padding-right: 20%;
			line-height: 15px;
			padding-top: 1%;
		}

		a { color: #BF7534 ;
			text-decoration: none;
			font-weight: bold ;
			
			}
		p { padding-left: 20% ;
			padding-right: 20%;
			font-family: "Lato", sans-serif;
  			font-weight: 400;
  			font-style: normal;
			line-height: 24px;
			font-size: 20px;
	
			}
			

	a:hover { color: #012634 ; }

	
	footer {
		
		background-color: #024059 ;
		color: #dde2f9 ; 
		padding-bottom: 10%;
		padding-top: 5%;
		bottom: 0;
		overflow: auto;
		background-image: url("background32.jpg");
		background-size: 100%;
		
		}

	header {
		
    padding-bottom: 0.5%;
	padding-top: 0.5%;
	background-size: 100%;
		
	
}


section {
		
		background-color: #F2B366;
		color: #461e0f ; 
		padding-top: 0.5%;
		padding-bottom: 0.5%; 
		margin-left: 0%;
  		margin-right: 0%;
		

		}


	center {
  		display: block;
 		margin-left: 20%;
		margin-right: 20%;
		padding-top: 2%;
		}

	.button a {
	background-color: #024059;
	color: #C5CED9;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
		}
	.button a:hover {
	background-color: #C5CED9;
	color: #024059;
		}


.rightAlign {
	float: right;
	padding-right: 70px;
	padding-bottom: 5%;
	
}

.centerwhoop {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
  	border: none; 
		}

.leftAlign1 {
	float: left;
	padding-right: 100px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 20%;
	overflow: auto;
}
.leftAlign2 {
	float: left;
	padding-right: 100px;
	padding-bottom: 5%;
	overflow: auto;
}


#typomage{
	height: auto;
	margin: auto;
	align-content: center;
	padding-top: 3%;
	
	}


#colormage{
	height: auto;
	margin: auto;
	align-content: center;
	padding-top: 3%;
	
	}

.thinking{
	
	width: 50%;
	max-width: 500px;
	min-width: 200px;
	height: 350px;
	bottom: 50%;
	left: 50%;
	padding-top: 6%;
	opacity: 100%;
	background-image: url("thinkingfonts.GIF");
	background-size: 50%;
	background-position: 0% 20%;
	background-repeat: no-repeat;
 	}
.sweater{
	
	width: 100%;
	height: 140px;
	padding-top: 1%;
	opacity: 100%;
	background-image: url("coffeetime.gif");
	background-size: 100%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
 	}

.pretty{
	column-count: 2;
	display: flex;
	column-gap: 50px;
	column-width: inherit;
	padding-left: 20% ;
			padding-right: 20%;
			font-family: "Lato", sans-serif;
  			font-weight: 400;
  			font-style: normal;
			line-height: 24px;
			font-size: 20px;
}

.icon {
	
	width: 50%;
	max-width: 90px;
	min-width: 90px;
	height: 100px;
	bottom: 50%;
	left: 50%;
	padding-top: 6%;
	opacity: 100%;
	background-size: 60%;
	background-position: 100% 10%;
	background-repeat: no-repeat;
	}

.p2 { 
	padding-left: 20% ;
	padding-right: 20%;
	padding-top: 1% ;
	padding-bottom: 1%;
	font-family: "Lato", sans-serif;
  	font-weight: 300;
  	font-style: normal;
	line-height: 25px;
	font-size: 16px;
	
			}
.p3 { 
	color: #012634; 
	padding-left: 20% ;
	padding-right: 20%;
	padding-top: 1% ;
	padding-bottom: 1%;
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	line-height: 26px;
	font-size: 18px;
	
			}
.references { 
	padding-left: 20% ;
	padding-right: 20%;
	padding-bottom: 1%;
	font-family: "Lato", sans-serif;
  	font-weight: 200;
  	font-style: normal;
	line-height: 24px;
	font-size: 16px;
	}
.referencesbold { 
	padding-left: 20% ;
	padding-right: 20%;
	padding-top: 1% ;
	font-family: "Lato", sans-serif;
  	font-weight: 200;
  	font-style: normal;
	line-height: 24px;
	font-size: 16px;
	}

.paddingbottom { 
		padding-left: 20% ;
		padding-right: 20% ;
		padding-bottom: 10%;
		font-family: "Lato", sans-serif;
  		font-weight: 400;
  		font-style: normal;
		line-height: 24px;
		font-size: 20px;
	
			}
.paddingtopsm { 
		padding-left: 10% ;
		padding-right: 10% ;
		padding-top: 5%;
		line-height: 21px;
		font-size: 16px;
		}
.paddingtopverysm { 
		padding-left: 10% ;
		padding-right: 10% ;
		padding-top: 1%;
		line-height: 21px;
		font-size: 16px;
		}

.paddingbottomsm { 
		padding-left: 10% ;
		padding-right: 10% ;
		padding-bottom: 5%;
		font-family: "Lato", sans-serif;
  		font-weight: 400;
  		font-style: normal;
		line-height: 21px;
		font-size: 16px;
	
			}
.paddingbottomverysm { 
		padding-left: 10% ;
		padding-right: 10% ;
		padding-bottom: 1%;
		font-family: "Lato", sans-serif;
  		font-weight: 400;
  		font-style: normal;
		line-height: 21px;
		font-size: 16px;
	
			}
.paddingbottomverybig { 
		padding-left: 20% ;
		padding-right: 20% ;
		padding-bottom: 20%;
		font-family: "Lato", sans-serif;
  		font-weight: 400;
  		font-style: normal;
		line-height: 21px;
		font-size: 16px;
	
			}
.paddingbottomnorm { 
		padding-left: 10% ;
		padding-right: 10% ;
		padding-bottom: 10%;
		line-height: 21px;
		font-size: 16px;
		}


.background2{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background2.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }

.background4{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background4.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }

.background6{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background6.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }


.background8{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background8.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }

.background12{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background12.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }


.background15{
	
 
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background15.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }

.background11{
	
  
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	height:auto;
	background-image: url("background11.jpg");
	background-size: 100%;
	background-repeat: no-repeat; }



ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #024059;
  position: fixed;
  top: 0;
  width: 100%;

}

ul.topnav li {float: left;
width: 25%;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 55px;
  text-decoration: none;
	
	
}

ul.topnav li a:hover:not(.active) {background-color:#012634 ;}

ul.topnav li a.active {background-color: #C5CED9;
color:#012634;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
	
	
}








